<h1 class="page_title">Welcome to Word Count!</h1>
<form action="/word_count">
  <div class="form-group">
     <label for="text">Enter some text:</label>
     <input id="text" name="text" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="word_to_count">Enter word to be counted in the text above:</label>
     <input id="word_to_count" name="word_to_count" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Enter</button>
</form>
