<h1>Word count result:</h1>

<section>
  <h2>Text:</h2>
  <p><%= @text %></p>
</section>

<section>
  <h2>Word to be Counted:</h2>
  <p> <%= @word_to_count %> </p>
</section>

<hr>

<section>
  <h3 class="results">Occurrences of word in text: <%= @count %></h3>
</section>
